
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-floppy:before { content: '\e801'; } /* '' */
.icon-off:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-cancel-squared:before { content: '\e804'; } /* '' */
.icon-hourglass:before { content: '\e805'; } /* '' */
.icon-gmail:before { content: '\e806'; } /* '' */
.icon-th-outline:before { content: '\e807'; } /* '' */
.icon-th-list-outline:before { content: '\e808'; } /* '' */
.icon-th-large-outline:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-up-big:before { content: '\e80d'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */